.avatar {
  display: inline-flex;
  width: 20%;
  height: 20%;
}

.avatar-text {
  display: inline-table;
  font-size: 3rem;
  vertical-align: top;
  margin-top: 5%;
}

.pink-border-bottom {
  border-bottom: double 5px transparent;
  background-image: linear-gradient(var(--bg-color),var(--bg-color)), radial-gradient(circle at top left,var(--main-purple),var(--main-pink));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.about-me {
  margin-top: 50px;
}

.about-me-title {
  width: fit-content;
  margin: 0 auto;
}