


/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
  /* GENERAL */
  .navbar-ul {
    font-size: 1.1rem;
    padding: 20px;
  }

  .app-container {
    margin-bottom: 30vh;
  }

  .avatar {
    width: 250px;
    height: 250px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  /* GENERAL */
  .logo {
    width: 85%;
    height: 85%;
  }

  .avatar {
    width: 60%;
    height: 60%;
  }
}



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /* GENERAL */
  .logo {
    width: 80%;
    height: 80%;
  }

  .avatar {
    width: 50%;
    height: 50%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   /* GENERAL */
  .logo {
    width: 70%;
    height: 70%;
  }

  .navbar-ul {
    font-size: 0.65rem;
  }

  /* ME */
  .avatar {
    width: 40%;
    height: 40%;
  }

  .avatar-text {
    font-size: 1.5rem;
  }
}

/* Even small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* GENERAL */
 .navbar-ul {
   font-size: 0.6rem;
 }
}